.app-content-container {
    margin-top: 60px;
    .mat-drawer-details-container {
        height: calc(100vh - 120px);
    }
    ::ng-deep .mat-drawer-inner-container {
        overflow: auto !important;
    }
}
.mat-drawer-inner-container{
    background-color: #edf0f2;
}