.app-content-container {
    margin-top: 60px;
    .mat-drawer-details-container {
        height: calc(100vh - 120px);
        .mat-drawer-side {
            border: none;
        }
        ::ng-deep .mat-drawer-inner-container {
            overflow: auto;
            background-color: #f9f9f9;
            width: auto;
            overflow: auto;
        }
    }

}