<mat-card class="rounded-2 p-3">
    <div class="header-container p-2 rounded-3 text-center text-white">
        <p class="fw-semibold m-0">Components</p>
    </div>
     <div class="links-container p-2 d-flex flex-column gap-2 mt-2">
        <p class="fw-semibold primary cursor-pointer" [routerLink]="['/nestedPanel']">Nested Panel</p>
        <p class="fw-semibold primary cursor-pointer" [routerLink]="['/checkbox']">Checkbox</p>
        <p class="fw-semibold primary cursor-pointer" [routerLink]="['/sidenav']">Sidenav</p>
        <p class="fw-semibold primary cursor-pointer" [routerLink]="['/stepper']">Stepper</p>
        <p class="fw-semibold primary cursor-pointer" [routerLink]="['/dropdown']">Dropdown</p>
        <p class="fw-semibold primary cursor-pointer" [routerLink]="['/formField']">Form Field</p>
     </div>
</mat-card>