$m2-primary: (
  50: #e7e9f8,
  100: #c2c7ee,
  200: #9aa2e2,
  300: #6f7ed7,
  400: #4e62ce,
  500: #2646c5,
  600: #203eba,
  700: #1333ae,
  800: #0029a3,
  900: #001390,
  A100: #b5dbff,
  A200: #82c3ff,
  A400: #4faaff,
  A700: #359eff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$m2-accent: (
  50: #e0f7f9,
  100: #b2eaf0,
  200: #81dce6,
  300: #51cedc,
  400: #31c4d5,
  500: #1cb9ce,
  600: #1aa9bb,
  700: #1894a2,
  800: #16808a,
  900: #125d60,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$m2-warn: (
  50: #fde9e7,
  100: #ffcdbc,
  200: #ffad90,
  300: #ff8c63,
  400: #ff7140,
  500: #ff571b,
  600: #ff5117,
  700: #f24911,
  800: #e4420c,
  900: #cc3300,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
