
body {
  margin: 0;
  // font-family: 'Inter-r';
  font-size: 1.6rem;
}


// Inter font
// @font-face {
//   font-family: 'Inter-r';
//   src: url(../src/assets/Fonts/Inter-Regular.ttf);
// }

// @font-face {
//   font-family: 'Inter-m';
//   src: url(../src/assets/Fonts/Inter-Medium.ttf);
// }

// @font-face {
//   font-family: 'Inter-sb';
//   src: url(../src/assets/Fonts/Inter-SemiBold.ttf);
// }

// @font-face {
//   font-family: 'Inter-b';
//   src: url(../src/assets/Fonts/Inter-Bold.ttf);
// }

/* -----------------------
  ---color variables---
  ----------------------- */
:root {
  --primary: #0029a3;
  --secondary: #1cb9ce;
  --warn: #cc3300;
  --mat-expansion-container-shape:0
}

/* -----------------------
  ---color style class---
  ----------------------- */
.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary)
}

.warn {
  color: var(--warn);
}


/* -----------------------
  ---Fonts Style Class---
  ----------------------- */

.f-10 {
  font-size: 1rem;
}

.f-12 {
  font-size: 1.2rem;
}

.f-14 {
  font-size: 1.4rem;
}

.f-16 {
  font-size: 1.6rem;
}

.f-18 {
  font-size: 1.8rem;
}

.f-20 {
  font-size: 2.0rem;
}

.f-22{
  font-size: 2.2rem;
}

.f-24{
  font-size: 2.4rem;
}

.f-28{
  font-size: 2.8rem;
}


// .medium-font {
//   font-family: 'Inter-m' !important;
// }

// .semibold-font {
//   font-family: 'Inter-sb' !important;
// }

// .bold-font {
//   font-family: 'Inter-b' !important;
// }

// ----------------------------------
// -----------Button Style-----------
// ----------------------------------

.btn-primary-border {
  --mdc-outlined-button-outline-color: var(--primary) !important;
}
.mat-mdc-option:hover:not(.mdc-list-item--disabled) {
  background-color: var(--primary) !important;
  color: #fff;
}
.mat-mdc-checkbox {
  // --mdc-checkbox-state-layer-size: 0
}
.cursor-pointer{
  cursor: pointer;
}
.mat-mdc-checkbox {
  .mdc-checkbox__native-control:focus+.mdc-checkbox__ripple , .mdc-checkbox:hover>.mdc-checkbox__ripple {
    background-color: transparent !important;
}
  .mdc-checkbox__background {
      width: 22px !important;
      height: 22px !important;
      border: 1px solid #CFD3D4 !important;
      border-radius: 5px !important;
  }
  &.mat-mdc-checkbox-checked {
      // .mdc-checkbox__background {
      //     outline: 2px solid #6D7DCD !important;
      //     border: 1px solid #fff !important;
      // }
      .mdc-checkbox__checkmark {
          top: 3px;
          left: 3px;
          width: 66%;
      }
  }
}

