html{
  font-size: 62.5%;
}

body {
  margin: 0;
  // font-family: 'Inter-r';
  font-size: 1.4rem;
}


//------------------
//-----Font Face----
//-------------------

// @font-face {
//   font-family: 'Inter-r';
//   src: url(../src/assets/Fonts/Inter-Regular.ttf);
// }

// @font-face {
//   font-family: 'Inter-m';
//   src: url(../src/assets/Fonts/Inter-Medium.ttf);
// }

// @font-face {
//   font-family: 'Inter-sb';
//   src: url(../src/assets/Fonts/Inter-SemiBold.ttf);
// }

// @font-face {
//   font-family: 'Inter-b';
//   src: url(../src/assets/Fonts/Inter-Bold.ttf);
// }

//-----------------------
//---Html Root----------
//-----------------------
:root {
  --primary: #0029a3;
  --secondary: #1cb9ce;
  --warn: #cc3300;
}

//------------------------
// ---color style---------
//------------------------
.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary)
}

.warn {
  color: var(--warn);
}


//-----------------------
//---Fonts Style--------
//----------------------

.f-10 {
  font-size: 1rem;
}

.f-12 {
  font-size: 1.2rem;
}

.f-14 {
  font-size: 1.4rem;
}

.f-16 {
  font-size: 1.6rem;
}

.f-18 {
  font-size: 1.8rem;
}

.f-20 {
  font-size: 2.0rem;
}

.f-22{
  font-size: 2.2rem;
}

.f-24{
  font-size: 2.4rem;
}

.f-28{
  font-size: 2.8rem;
}

// .medium-font {
//   font-family: 'Inter-m' !important;
// }

// .semibold-font {
//   font-family: 'Inter-sb' !important;
// }

// .bold-font {
//   font-family: 'Inter-b' !important;
// }


// --------------------------------------
// -----------Additional Style-----------
// --------------------------------------
.cursor-pointer{
  cursor: pointer;
}